
.image {
    border-radius: 50%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.textContainer {
    display: flex;
    flex-direction: column;
}

@media (min-width: 765px) {

    .container {
        flex-direction: row;
    }

    .textContainer {
        max-width: 70%;
    }

    .image {
        height: 240px;
        width: 240px;
    }

    .title {
        font-size: 30pt;
    }

    .description {
        font-size: 14pt;
    }

}

@media (max-width: 764px) {

    .container {
        flex-direction: column;
    }

    .textContainer {
        max-width: 60%;
    }

    .image {
        height: 140px;
        width: 140px;
    }

    .title {
        font-size: 22pt;
    }

    .description {
        font-size: 10pt;
    }

}
