
.image {
    border-radius: 50%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.textContainer {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.title {
    font-size: 22pt;
}

.description {
    font-size: 12pt;
}

.image {
    height: 200px;
    width: 200px;
}

@media (min-width: 481px) and (max-width: 768px) {

    .image {
        height: 140px;
        width: 140px;
    }

    .title {
        font-size: 14pt;
    }

    .description {
        font-size: 10pt;
    }

}

@media (max-width: 480px) {

    .image {
        height: 140px;
        width: 140px;
    }

    .textContainer {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    .title {
        font-size: 14pt;
    }

    .description {
        font-size: 10pt;
    }

}
